/Library/
/Logs/
/Packages/
/.vs/
/obj/
/Temp/
/bin/
/AssetBundles/
/Assets/StreamingAssets/AssetBundles/
/Assets/StreamingAssets/Video/
/Assets/Art/Video/
*.csproj #
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
*.csproj

